/* normalize */

* {
    box-sizing: border-box;
}

/* body */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

h1 {
    padding: 0%;
}

/* grid layout ------------------------------------------------------------------*/

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(5, 1fr); 
    gap: 15px; 
    width: 100%; 
    max-width: 800px;
    background: white;
    padding: 20px;
}
  

.grid-item {
    background: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3b8840;
    overflow: hidden;
}

.grid-item img {
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    
}


.grid-item.center {
    grid-column: 2 / 5; 
    grid-row: 2; 
    height: 160px;
    width: 450px;
    background: #3b8840;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-item.center h1 {
    margin: 0;
    padding: 0;
}

button {
    margin-top: 5px;
    padding: 5px 5px;
    background-color: #3b8840;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #325034;
}




/* help ------------------------------------------------------------------ */
.help-container {
    width: 90%;
    max-width: 600px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}


.help-header {
    background: #3b8840; 
    color: white;
    padding: 20px;
}

.help-header h1 {
    margin: 0;
    font-size: 1.8rem;
}


.help-content {
    padding: 20px;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

.help-footer {
    padding: 10px;
    background: #f0f0f0;
}

.help-footer button {
    padding: 10px 20px;
    background: #3b8840;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.help-footer button:hover {
    background: #3e6740; /* slightly darker green */
}





/* results ------------------------------------------------------------------ */

.results-container {
    width: 90%;
    max-width: 600px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}


.results-header {
    background: #3b8840; 
    color: white;
    padding: 20px;
}

.results-header h1 {
    margin: 0;
    font-size: 1.8rem;
}


.results-content {
    padding: 20px;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

.results-footer {
    padding: 10px;
    background: #f0f0f0;
}

.results-footer button {
    padding: 10px 20px;
    background: #3b8840;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.results-footer button:hover {
    background: #3e6740; /* slightly darker green */
}
